.myntra-container {
  display: flex;
  height: 120vh;
  width:220vh;
}


.sidebar {
  width: 20%;
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  width: 53px;
  height: 38px;
  margin-top: 2vh;
}

.chat-generator {
  background-color: #ff4081;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.images img {
  width: 15%;
  height: auto;
  margin-right: 10px;
  border-radius: 5px;
}


.menu-item {
  padding: 10px;
  cursor: pointer;
  text-align: left;
  margin-bottom: 10px;
  color: black;
  margin-left: 6.3vh;
}
.menu-item1{
  padding: 10px;
  cursor: pointer;
  text-align: left;
  margin-bottom: 10px;
  color: black;
  margin-left: 6.5vh;
} 
.menu-item2{
  padding: 10px;
  cursor: pointer;
  text-align: left;
  margin-bottom: 10px;
  color: black;  
  margin-left:5.3vh ; 

}

.chat-section {
  /* width: 80%; */
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* background-color: #fff; */
  color: black;
  height: 100%;
}

.chat-history {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  height:10vh;
  width:50vh;
  
}

.search-bar input {
  width: 96%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chats {
  flex: 1;
  overflow-y: auto;
}

.chat-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.add-chat {
  background-color: #ff4081;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  
}

.new-chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  height:10vh;
  width:50vh;
}

.chat-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 1000px;
  background-color: #ffffff50;
  padding: 20px;
  border-radius: 5px;
  
}

.chat-inputs {
  display: flex;
  background-color: #ccc;
}

.chat-inputs input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.chat-inputs button {
  padding: 10px;
  background-color: #ff4081;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.logo{
  color:black;
  margin-bottom: 12vh;
  font-size: 3.2vh;
  font-weight: bold;
  border: none;
  border: 1px solid #ccc;
  
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
   */
}
.myntra{
  background-color: #f0f0f0;
  width: 210vh;
}
.search{
  background-color: grey;
}
.box{
  background-color: white;
  height: 80vh;
  margin-top: 6.3vh;
  border-radius: 20px;
  
}
.chatb{
  color:black ;
  margin-left: 20px;
}
.box3{
  overflow-x: hidden;
  background-color: white;
  width: 180vh;
  height:90vh;
  align-items: center;
  margin-top: 3.3vh;
  border-radius: 20px;
  background-image: url("./assets/rec.png");



}
.b1{
  width:50vh;
  padding: 10px;
  height: 35px;
  background-color: grey;
  margin-top: 3vh;
  border-radius: 10px;
  margin-left:20px ;
}
.b2{
  width:50vh;
  padding: 10px;
  height: 35px;
  background-color: grey;
  margin-top: 3vh;
  border-radius: 10px;
  margin-left:55vh ;
  margin-top: 10vh;
  
}
.b3{
  width:45vh;
  padding: 10px;
  height: 35px;
  background-color: grey;
  margin-top: 3vh;
  border-radius: 10px;
  margin-left:60vh ;
  margin-top: 5vh;
  
}
.b4{
  width:20vh;
  padding: 10px;
  height: 35px;
  background-color: grey;
  margin-top: 3vh;
  border-radius: 10px;
  margin-left:85vh ;
  margin-top: 5.5vh;
  
}
.b5{
  width:8vh;
  padding: 10px;
  height: 35px;
  background-color: grey;
  margin-top: 3vh;
  border-radius: 10px;
  margin-left:95vh ;
  margin-top: 5.8vh;
  
}
.rec{

  position: absolute;
  width:30vh;
}
.light .myntra-container {
  background-color: #fff;
  color: #000;
}

/* Dark mode styles */
.dark .myntra-container {
  background-color: #333;
  color: #fff;
}
.box4{
 
  position: relative;
}
.toggle-theme {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: var(--text-color);
}
/* .input-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:50vh;
} */
.ui{
  overflow-x: hidden;
}